<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include partials/pageStyles %>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
<% include partials/navbar %>

<div class="container">
    <div class="login-wrapper">
        <div class="login-box">
            <div class="row">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <fieldset>
                        <div class="form-group mt-5">
                            <label for="user_name" class="sr-only">Username</label>
                            <input type="text" name="user_name" class="form-control mb-2" placeholder="Username" required autofocus>
                        </div>

                        <div class="form-group">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="user_password" class="form-control" placeholder="Password" required>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" id="login" type="submit">Submit</button>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>


    <!-- show a success or error message if one was provided -->
    <% if (locals.response) { %>
    <div class="row login-alert">
        <div class="col">
            <% if (locals.success) { %>
            <div class="alert alert-success mt-5 show fade">
                <%= response %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } else { %>
            <div class="alert alert-danger mt-5 show fade">
                <%= response %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
        </div>
    </div>
    <% } %>
</div>


<% include partials/pageScripts %>
</body>
</html>




/* eslint-disable camelcase, import/newline-after-import */
const express = require('express');
const router = express.Router();
const userData = require('../data/users.json');
const helpers = require('../../app/helpers');


/* GET Login page. */
router.get('/', (req, res, next) => {
if (req.session.user != null) {
res.render('index', {
title: 'Home',
success: true,
response: 'Login successful!',
session: req.session,
});
} else {
res.render('login', {
title: 'Login',
});
}
});


/* process user login attempt */
router.post('/', (req, res, next) => {
// check if the user login credentials are valid
const users = helpers.sanitizeJSON(userData);
const { user_name: uname, user_password: upass } = req.body;

const userList = Object.keys(users).map(user => users[user]);
const isValidUser = userList.some(user => user.user_name === uname && user.user_password === upass);


// if the user login was successful, setup the user session
if (isValidUser) {
req.session.cookie.maxAge = 60 * 60 * 1000;
req.session.user = uname;
req.session.deployment = null;
res.redirect('update');
} else {
res.render('login', {
title: 'Login',
success: false,
response: 'Login unsuccessful',
session: req.session,
});
}
});


module.exports = router;



